In [41]:
import pandas as pd
import numpy as np

Làm việc với Series

Series([data, index, dtype, name, copy, . . . ])

In [42]:
#Example 1: Creating a Series from a list
s = pd.Series([0,1,2,3])
print(s)

0    0
1    1
2    2
3    3
dtype: int64

In [43]:
#Example 2: Creating a Series from a list with an index
s = pd.Series([0,1,2,3], index=["a","b","c","d"])
print(s)

a    0
b    1
c    2
d    3
dtype: int64

In [44]:
#Example 3: Creating a Series from a dictionary
data = {'a' :-1.3, 'b' : 11.7, 'd' : 2.0, 'f': 10, 'g': 5}
ser = pd.Series(data,index=['a','c','b','d','e','f'])
print(ser)

a    -1.3
c     NaN
b    11.7
d     2.0
e     NaN
f    10.0
dtype: float64

In [45]:
#Example 4: Creating a Series from a scalar value
ser = pd.Series(5, index=[1, 2, 3, 4, 5])
print(ser)

1    5
2    5
3    5
4    5
5    5
dtype: int64

In [46]:
#Example 5: Creating a Series from a numpy array
chi_so = ["Ke toan", "KT", "CNTT", "Co khi"]
gia_tri = [310, 360, 580, 340]
S =pd.Series(gia_tri, index=chi_so)
print(S)
print(S.index)
print(S.values)

Ke toan    310
KT         360
CNTT       580
Co khi     340
dtype: int64
Index(['Ke toan', 'KT', 'CNTT', 'Co khi'], dtype='object')
[310 360 580 340]

In [47]:
#Example 6: Accessing elements of a Series
data = {'a' : -1.3, 'b' : 11.7, 'd' : 2.0, 'f': 10, 'g': 5}
ser = pd.Series(data,index=['a','c','b','d','e','f'])
print(ser['d'])
print(ser['c'])
print(ser)

2.0
nan
a    -1.3
c     NaN
b    11.7
d     2.0
e     NaN
f    10.0
dtype: float64

In [48]:
#Example 7: Slicing a Series
data = {'a' : -1.3, 'b' : 11.7, 'd' : 2.0, 'f': 10, 'g': 5}
ser = pd.Series(data,index=['a','c','b','d','e','f'])
print(ser[:'d'])

a    -1.3
c     NaN
b    11.7
d     2.0
dtype: float64

In [49]:
#Example 8: Adding two Series
chi_so = ["KT", "KT", "CNTT", "Co khi"] # trùng nhau
gia_tri = [310, 360, 580, 340]
S =pd.Series(gia_tri, index=chi_so)
print(S['Co khi'])
print(S['KT'])
print(S.CNTT)

340
KT    310
KT    360
dtype: int64
580

In [50]:
#S.axes: trả về danh sách các chỉ mục của S
#S.dtype: trả về kiểu dữ liệu các phần tử của S
#S.empty: trả về True nếu S rỗng
#S.ndim: trả về số chiều của S (1)
#S.size: trả về số phần tử của S
#S.values: trả về list các phần tử của S
#S.head(n): trả về n phần tử đầu tiên của S
#S.tail(n): trả về n phần tử cuối cùng của S

In [51]:
#Example 9:
def Tang(x):
    return x if x > 500 else x + 1000

chi_so = ["Ketoan", "KT", "CNTT", "Cokhi"]
gia_tri = [310, 360, 580, 340]
S = pd.Series(gia_tri, chi_so)
# apply Tang on S (without changing S)
print(S.apply(Tang))

Ketoan    1310
KT        1360
CNTT       580
Cokhi     1340
dtype: int64

Làm việc với Dataframe

Cấu trúc dataframe: DataFrame([data, index, columns, dtype, copy])

pandas.DataFrame(data, index, columns, dtype, copy)

In [52]:
#Example 10: Creating a DataFrame from a dictionary
# tạo dict từ các series
s = {'một': pd.Series([1., 2., 3., 5.], index=['a', 'b', 'c', 'e']),
'hai': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}
# tại DataFrame từ dict
df = pd.DataFrame(s)
print(df)

   một  hai
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0
e  5.0  NaN

In [53]:
#Example 11: Creating a DataFrame from a dictionary with selected index
# tạo dict từ các series
s = {'một': pd.Series([1., 2., 3., 5.], index=['a', 'b', 'c', 'e']),
'hai': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}
# tạo DataFrame từ dict theo các index được chọn
df = pd.DataFrame(s, index=['a','c','d'])
print(df)

   một  hai
a  1.0  1.0
c  3.0  3.0
d  NaN  4.0

In [54]:
#Example 12: Creating a DataFrame from a dictionary with selected columns
names = ['MIT',"Stanford","DHTL"]
df = pd.DataFrame(names)
print(df)
names_rank=[['MIT',1],["Stanford",2],["DHTL",200]]
df = pd.DataFrame(names_rank)
print(df)

          0
0       MIT
1  Stanford
2      DHTL
          0    1
0       MIT    1
1  Stanford    2
2      DHTL  200

In [55]:
#Example 13: Creating a DataFrame from a dictionary with selected columns and index
crimes_rates = {
"Year":[1960,1961,1962,1963,1964],
"Population":[179323175,182992000,185771000,188483000,191141000],
"Total":[3384200,3488000,3752200,4109500,4564600],
"Violent":[288460,289390,301510,316970,364220] }
crimes_dataframe = pd.DataFrame(crimes_rates)
print(crimes_dataframe)

   Year  Population    Total  Violent
0  1960   179323175  3384200   288460
1  1961   182992000  3488000   289390
2  1962   185771000  3752200   301510
3  1963   188483000  4109500   316970
4  1964   191141000  4564600   364220

In [56]:
#Example 14: Creating a DataFrame from a dictionary with selected columns and index
data = [ {'MIT': 5000, 'Stanford': 4500, "DHTL":15000},
{'MIT': 1, 'Stanford': 2, "DHTL":200} ]
df = pd.DataFrame(data, index=['NumOfStudents', "ranking"])
print(df)
print(df.DHTL.dtype)

                MIT  Stanford   DHTL
NumOfStudents  5000      4500  15000
ranking           1         2    200
int64

In [57]:
#Example 15: Creating a DataFrame from a dictionary with selected columns and index
data = { "one": pd.Series([1,23,45], index = [1,2,3]),
"two": pd.Series([1000,2400,1132,3434], index = [1,2,3,4]) }
df = pd.DataFrame(data)
print(df)

    one   two
1   1.0  1000
2  23.0  2400
3  45.0  1132
4   NaN  3434

In [58]:
#Example 16: Creating a DataFrame from a dictionary with selected columns and index
s = {'một': pd.Series([1., 2., 3., 5.], index=['a', 'b', 'c', 'e']),
'hai': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd']),
'ba': pd.Series([9., -1.3, 3.5, 41.1], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(s)
# chọn cột hai
df_hai = df['hai']
print(df_hai)

a    1.0
b    2.0
c    3.0
d    4.0
e    NaN
Name: hai, dtype: float64

In [59]:
#Example 17: Adding a new column to an existing DataFrame
s = {'một': pd.Series([1., 2., 3., 5.], index=['a', 'b', 'c', 'e']),
'hai': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd']),
'ba': pd.Series([9., -1.3, 3.5, 41.1], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(s)
# thêm cột bốn với giá trị mỗi ô theo công thức
df['bốn'] = df['hai'] - df['ba']
print(df)

   một  hai    ba   bốn
a  1.0  1.0   9.0  -8.0
b  2.0  2.0  -1.3   3.3
c  3.0  3.0   3.5  -0.5
d  NaN  4.0  41.1 -37.1
e  5.0  NaN   NaN   NaN

In [60]:
#Example 18: Adding a new column to an existing DataFrame
# thêm cột với giá trị vô hướng (scalar value)
df['Chuẩn'] = 'OK'
# thêm cột không cùng số lượng index với DataFrame
df['Khác'] = df['hai'][:3]
# thêm cột True/False theo điều kiện
df['KT'] = df['một'] == 3.0
# dùng hàm insert. Cột "chèn" bên dưới sẽ ở vị trí 2 (tính từ 0), có giá trị bằng cột một
df.insert(2, 'chèn', df['một'])
print(df)

   một  hai  chèn    ba   bốn Chuẩn  Khác     KT
a  1.0  1.0   1.0   9.0  -8.0    OK   1.0  False
b  2.0  2.0   2.0  -1.3   3.3    OK   2.0  False
c  3.0  3.0   3.0   3.5  -0.5    OK   3.0   True
d  NaN  4.0   NaN  41.1 -37.1    OK   NaN  False
e  5.0  NaN   5.0   NaN   NaN    OK   NaN  False

In [61]:
#Example 19: Deleting a column from a DataFrame
s = {'một': pd.Series([1., 2., 3., 5.], index=['a', 'b', 'c', 'e']),
 'hai': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd']),
 'ba': pd.Series([9., -1.3, 3.5, 41.1], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(s)
# chọn dòng theo label
d = df.loc['a']
print(d)

một    1.0
hai    1.0
ba     9.0
Name: a, dtype: float64